<%- include('../partials/head') %>
<%- include('../partials/header') %>

<script src="https://www.paypal.com/sdk/js?client-id=ARlQlrIGZijIyn1EISJJZkj4Gtwixt4suOAzqYNtVKRAkFjMGJCfk23ycAPBsW9ms6aWMw6KcDUaOQNt&vault=true&intent=subscription"></script>

<div id="paypal-button-container"></div>

<script>
  paypal.Buttons({
    createSubscription: function (data, actions) {
     return actions.subscription.create({
      'plan_id': '<%= planId %>' // Creates the subscription
      });
    },
    onApprove: async function (data, actions) {
      console.log('onApprove', data);
      // const response = await fetch(`http://127.0.0.1:3000/api/v1/subscription/capture/${data.subscriptionID}`)
      // const details = response.json();
      // console.log('details', details)
      alert('Done')
    }
  }).render('#paypal-button-container'); // Renders the PayPal button
</script>

<%- include('../partials/footer') %>
